
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfamiz</title>
    @*<script src="~/Home3/BaslangicMesaji"></script>*@
    <script src="~/Home3/jsButtonClick"></script>

    @*<script>
        alert("Hello World");
    </script>*@
</head>
<body>
    <div> 
        <button onclick="button_click()">Mesaj ver</button>
    </div>
</body>
</html>
