
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dosyalar</title>
</head>
<body>
    <div> 
        Dosyalar asagidadir.
    </div>

    <div>
        @Html.ActionLink("PDF indir", "PDFDosyaIndir","Home")
    </div>

    @Html.ActionLink("Metin Dosyasi indir", "MetinDosyasiIndir","Home")
    <div></div>
</body>
</html>
