
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfamiz</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
       
        @Html.TextBox("Ad", "", new { placeholder = "Adiniz" })
        <br />
        @Html.TextBox("Soyad", "", new { placeholder = "Soyadiniz" })
        <hr />
        <button type="submit"> Kaydet</button>
        }
    </div>
    <hr /><hr />
    <div>
        @if (ViewBag.Liste!=null)
        {

            <ul>
                @foreach (string veri in (List<string>)ViewBag.Liste)
                {

                    <li> @veri</li>
                }
            </ul>
        }

    </div>
    <div>

    </div>
</body>
</html>
